.centralizado {
    text-align: center;
}

header {
    height: 45px;
    background-color: rgb(0 64 128);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.header-container {
    height: 20px;
    margin-top: 15px;
}

#logo-menu {
    margin-left: 20px;
    width: 30px;
    height: 15px;
}

#titulo {
    margin-left: 30px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
    text-decoration: none;
}

body {
    background-color: rgb(233, 233, 233);
}

#side-bar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 55px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    -webkit-box-shadow: 1px 1px 4px 0.1px rgba(122, 122, 122, 1);
    -moz-box-shadow: 1px 1px 4px 0.1px rgba(122, 122, 122, 1);
    box-shadow: 1px 1px 4px 0.1px rgba(122, 122, 122, 1);
}

#main-content {
    background-color: white;
    position: relative;
    top: 48px;
    margin-left: 220px;
    height: 1000px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    -webkit-box-shadow: -1px 1px 4px 0.1px rgba(122, 122, 122, 1);
    -moz-box-shadow: -1px 1px 4px 0.1px rgba(122, 122, 122, 1);
    box-shadow: -1px 1px 4px 0.1px rgba(122, 122, 122, 1);
}