<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://matriculaweb.unb.br/assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
    <title>Minha Monitoria</title>
</head>

<body>
    <header>
        <div class="header-container">
            <img src="https://matriculaweb.unb.br/assets/img/as_vert_NEG_TRANSP_flag.png" alt="Imagem da UnB" id="logo-menu">

            <a href="/" id="titulo">Minha Monitoria</a>
        </div>

    </header>


    <div id="side-bar">

    </div>


    <div id="main-content">

    </div>
</body>

</html>