<html>
	<head>
		<title>Buscar</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/busca.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</head>

	<body>
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="fecharNav()">&times;</a>
				{% if dados[1] != None %}
					{% for monitoria in dados[1] %}
						<div class="containerCartao">
							Professor: {{ monitoria['nome'] }}
							Campus: {{ monitoria['campus'] }}
							Codigo: {{ monitoria['codigo'] }}
							Disciplina: {{ monitoria['disciplina'] }}

							<!-- VISUALIZAR -->
							<a href="/monitoria?chave={{monitoria['chave']}}"><button>VER</button></a>
							
							<!-- COMPARTILHAR -->
							<div class="dropdown">
							  <button class="botaoCompartilhar" onclick="compartilhar()"><i class="fas fa-share-alt"></i></button>
							  <div id="containerDropdown" class="containerDropdown">
							    <a href="https://www.facebook.com/sharer/sharer.php?u=https://minha-monitoria.herokuapp.com/monitoria?chave={{monitoria['chave']}}" target="_blank">Facebook</a>
							    <a href="https://api.whatsapp.com/send?text=https://minha-monitoria.herokuapp.com/monitoria?chave={{monitoria['chave']}}" target="_blank">WhatsApp</a>
							  </div>
							</div>

							<!-- SALVAR -->
							<a id="test" onclick="salvar({{monitoria['chave']}})"><button><i class="fas fa-plus-square"></i></button></a>

							<!-- ENVIAR DADOS -->
							<a href="/mensagem?codigo={{monitoria['codigo']}}&disciplina={{monitoria['disciplina']}}&turma={{monitoria['turma']}}&vagas={{monitoria['vagas']}}&email={{monitoria['email']}}"><button><i class="fas fa-paper-plane"></i></button></a>

							<!-- EXCLUIR -->
							{% if dados[0] == monitoria['email'] %}
								<a href="/excluir?chave={{monitoria['chave']}}"><button><i class="far fa-trash-alt"></i></button></a>
							{% endif %}

						</div>
					{% endfor %}
				{% endif %}
		</div>

		<div id="main">
			<div class="cabecalho">
				{% if dados[3] != None %}
					{{dados[3]}}
					{% if dados[2] %}
						<!-- ADICIONAR NOVA MONITORIA -->
						<a href="/novaMonitoria"><button><i class="fas fa-plus"></i></button></a>
					{% else %}
						<button id="botaoRecuperacao">Confirmar e-mail</button>
					{% endif %}
		      		<a href="/logout"><button>Sair</button></a><br>
				{% else %}
					<a href="/login"><button>Login</button></a>
			        <a href="/cadastro"><button>Cadastro</button></a>
				{% endif %}

				<!-- MONITORIAS SALVAS -->
				<button onclick="abrirNav()"><i class="fas fa-bars"></i></button>
			</div>

			<!-- PESQUISAR -->
			<div class="pesquisa">
				<form method="post" class="form">
					<input type="text" placeholder="Buscar" name="busca" class="inputPesquisa" value="{{dados[4]}}">

					<!-- FILTROS -->
					<select name="campus">
						<option value="todos" selected>Todos</option>
						<option value="Darcy">Darcy Ribeiro</option>
						<option value="FGA">FGA</option>
						<option value="FCE">FCE</option>
						<option value="FUP">FUP</option>
					</select>

					<input type="submit" name="Entrar" class="submit"><br>
				</form>
			</div>
			
			<div class="monitorias">
				{% if dados[1] != None %}
					{% for monitoria in dados[1] %}
						<div class="containerCartao">
							Professor: {{ monitoria['nome'] }}
							Campus: {{ monitoria['campus'] }}
							Codigo: {{ monitoria['codigo'] }}
							Disciplina: {{ monitoria['disciplina'] }}

							<!-- VISUALIZAR -->
							<a href="/monitoria?chave={{monitoria['chave']}}"><button>VER</button></a>
							
							<!-- COMPARTILHAR -->
							<div class="dropdown">
							  <button class="botaoCompartilhar" onclick="compartilhar()"><i class="fas fa-share-alt"></i></button>
							  <div id="containerDropdown" class="containerDropdown">
							    <a href="https://www.facebook.com/sharer/sharer.php?u=https://minha-monitoria.herokuapp.com/monitoria?chave={{monitoria['chave']}}" target="_blank">Facebook</a>
							    <a href="https://api.whatsapp.com/send?text=https://minha-monitoria.herokuapp.com/monitoria?chave={{monitoria['chave']}}" target="_blank">WhatsApp</a>
							  </div>
							</div>

							<!-- SALVAR -->
							<a id="test" onclick="salvar({{monitoria['chave']}})"><button><i class="fas fa-plus-square"></i></button></a>

							<!-- ENVIAR DADOS -->
							<a href="/mensagem?codigo={{monitoria['codigo']}}&disciplina={{monitoria['disciplina']}}&turma={{monitoria['turma']}}&vagas={{monitoria['vagas']}}&email={{monitoria['email']}}"><button><i class="fas fa-paper-plane"></i></button></a>

							<!-- EXCLUIR -->
							{% if dados[0] == monitoria['email'] %}
								<a href="/excluir?chave={{monitoria['chave']}}"><button><i class="far fa-trash-alt"></i></button></a>
							{% endif %}

						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
    </body>
</html>