<html>
	<head>
		<title>Minha Monitoria</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/busca.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</head>

	<body>
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="fecharNav()">&times;</a>
				{% if dados[1] != None %}
					{% for monitoria in dados[6] %}
						{% for monitoriaSalva in dados[4] %}
							{% if monitoria == monitoriaSalva %}
								<div class="containerCartao">
									{% if dados[6][monitoria]['campus'] == "Darcy" %}
										<div class="campusD">Darcy Ribeiro</div>
									{% elif dados[6][monitoria]['campus'] == "FGA" %}
										<div class="campusFGA">{{ dados[6][monitoria]['campus'] }}</div>
									{% elif dados[6][monitoria]['campus'] == "FCE" %}
										<div class="campusFCE">{{ dados[6][monitoria]['campus'] }}</div>
									{% elif dados[6][monitoria]['campus'] == "FUP" %}
										<div class="campusFUP">{{ dados[6][monitoria]['campus'] }}</div>
									{% endif %}

									<div class="disciplina"><a class="aDisciplina" href="/monitoria?chave={{monitoria}}">{{ dados[6][monitoria]['disciplina'] }}</a></div>
									<div class="professor">{{ dados[6][monitoria]['nome'] }}</div>
									<div class="codigo">{{ dados[6][monitoria]['codigo'] }}</div>
									
									<div class="extra-options">
										<!-- COMPARTILHAR -->
											<!-- Facebook -->
										<a href="https://www.facebook.com/sharer/sharer.php?u=https://minha-monitoria.herokuapp.com/monitoria?chave={{monitoria}}" target="_blank"><button class="eo-btn"><i class="fab fa-facebook"></i></button></a>
											<!-- WhatsApp -->
										<a href="https://api.whatsapp.com/send?text=https://minha-monitoria.herokuapp.com/monitoria?chave={{monitoria}}" target="_blank"><button class="eo-btn"><i class="fab fa-whatsapp"></i></button></a>

										<!-- REMOVER DA LISTA DE MONITORIAS SALVAS -->
										<a id="test" onclick="remover('{{monitoria}}', {{dados[4]}})"><button class="eo-btn"><i class="fas fa-minus-circle"></i></button></a>

										<!-- EXCLUIR -->
										{% if dados[0] == dados[6][monitoria]['email'] %}
											<a href="/excluir?chave={{monitoria}}"><button class="eo-btn"><i class="far fa-trash-alt"></i></button></a>
										{% endif %}
									</div>
								</div>
							{% endif %}							
						{% endfor %}	
					{% endfor %}
				{% endif %}
				<span class="sidenavrp"></span>
		</div>

		<div id="main">
			<div class="cabecalho">
				<!-- MONITORIAS SALVAS -->
				<button onclick="abrirNav()" id="bars-btn"><i class="fas fa-bars"></i></button>
				<a href="/" id="home-btn">Minha Monitoria</a>

				<div id="user-container">
					{% if dados[3] != None %}
						{{dados[3]}}
						{% if dados[2] %}
							<!-- ADICIONAR NOVA MONITORIA -->
							<a href="/novaMonitoria"><button id="newm-btn"><i class="fas fa-plus"></i></button></a>
						{% else %}
							<button id="botaoRecuperacao">Confirmar e-mail</button>
						{% endif %}
			      		<a href="/logout"><button id="newm-btn"><i class="fas fa-sign-out-alt"></i></button></a><br>
					{% else %}
						<a href="/login"><button>Login/Cadastro</button></a>
					{% endif %}
				</div>
			</div>

			<!-- PESQUISAR -->
			<div class="pesquisa">
				<form method="post" class="form">
					<input type="text" placeholder="Nome" name="busca" id="inputPesquisa" value="{{dados[5]}}"><br>

					<!-- FILTROS -->
					<div id="filtros">
						<select name="campus">
							<option value="todos" selected>Todos</option>
							<option value="Darcy">Darcy Ribeiro</option>
							<option value="FGA">FGA</option>
							<option value="FCE">FCE</option>
							<option value="FUP">FUP</option>
						</select>
					</div>
					<input type="submit" name="Entrar" class="submit" id="botaoPesquisa" value="Pesquisar"><br>
				</form>
			</div>

			<div class="monitorias">
				{% if dados[1] != None %}
					{% for monitoria in dados[1] %}
						<div class="containerCartao">
							{% if monitoria['campus'] == "Darcy" %}
								<div class="campusD">Darcy Ribeiro</div>
							{% elif monitoria['campus'] == "FGA" %}
								<div class="campusFGA">{{ monitoria['campus'] }}</div>
							{% elif monitoria['campus'] == "FCE" %}
								<div class="campusFCE">{{ monitoria['campus'] }}</div>
							{% elif monitoria['campus'] == "FUP" %}
								<div class="campusFUP">{{ monitoria['campus'] }}</div>
							{% endif %}

							<div class="disciplina"><a class="aDisciplina" href="/monitoria?chave={{monitoria}}">{{ monitoria['disciplina'] }}</a></div>
							<div class="professor">{{ monitoria['nome'] }}</div>
							<div class="codigo">{{ monitoria['codigo'] }}</div>
							
							<div class="extra-options">
								<!-- COMPARTILHAR -->
									<!-- Facebook -->
								<a href="https://www.facebook.com/sharer/sharer.php?u=https://minha-monitoria.herokuapp.com/monitoria?chave={{monitoria['chave']}}" target="_blank"><button class="eo-btn"><i class="fab fa-facebook"></i></button></a>
									<!-- WhatsApp -->
								<a href="https://api.whatsapp.com/send?text=https://minha-monitoria.herokuapp.com/monitoria?chave={{monitoria['chave']}}" target="_blank"><button class="eo-btn"><i class="fab fa-whatsapp"></i></button></a>

								<!-- SALVAR -->
								<a onclick="salvar('{{monitoria['chave']}}', {{dados[4]}})"><button class="eo-btn"><i class="fas fa-plus-circle"></i></button></a>

								<!-- EXCLUIR -->
								{% if dados[0] == monitoria['email'] %}
									<a href="/excluir?chave={{monitoria['chave']}}"><button class="eo-btn"><i class="far fa-trash-alt"></i></button></a>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<script type="text/javascript" src="{{ url_for('static', filename='js/busca.js') }}"></script>
    </body>
</html>