<html>

<head>
	<title>Home</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="fecharNav()">&times;</a>
		{% if dados[1] != None %}
		{% for monitoria in dados[1] %}
		<div class="containerCartao">
			Professor: {{ dados[1][monitoria]['nome'] }}
			Campus: {{ dados[1][monitoria]['campus'] }}
			Codigo: {{ dados[1][monitoria]['codigo'] }}
			Disciplina: {{ dados[1][monitoria]['disciplina'] }}

			<!-- VISUALIZAR -->
			<a href="/monitoria?chave={{monitoria}}"><button>VER</button></a>

			<!-- COMPARTILHAR -->
			<div class="dropdown">
				<button class="botaoCompartilhar" onclick="compartilhar()"><i class="fas fa-share-alt"></i></button>
				<div id="containerDropdown" class="containerDropdown">
					<a href="https://www.facebook.com/sharer/sharer.php?u=https://minha-monitoria.herokuapp.com/monitoria?chave={{monitoria}}"
						target="_blank">Facebook</a>
					<a href="https://api.whatsapp.com/send?text=https://minha-monitoria.herokuapp.com/monitoria?chave={{monitoria}}"
						target="_blank">WhatsApp</a>
				</div>
			</div>

			<!-- SALVAR -->
			<a id="test" onclick="salvar({{dados[1][monitoria]}})"><button><i
						class="fas fa-plus-square"></i></button></a>

			<!-- ENVIAR DADOS -->
			<a
				href="/mensagem?codigo={{dados[1][monitoria]['codigo']}}&disciplina={{dados[1][monitoria]['disciplina']}}&turma={{dados[1][monitoria]['turma']}}&vagas={{dados[1][monitoria]['vagas']}}&email={{dados[1][monitoria]['email']}}"><button><i
						class="fas fa-paper-plane"></i></button></a>

			<!-- EXCLUIR -->
			{% if dados[0] == dados[1][monitoria]['email'] %}
			<a href="/excluir?chave={{monitoria}}"><button><i class="far fa-trash-alt"></i></button></a>
			{% endif %}

		</div>
		{% endfor %}
		{% endif %}
	</div>

	<div id="main">
		<div class="cabecalho">

			<button id="user-btn"><i class="fas fa-user"></i></button>
			<div id="user-container">
				{% if dados[3] != None %}
				<p id="user-name">{{dados[3]}}</p>
				<button onclick="window.location.href=''"></button>
				<br>
				<button onclick="window.location.href='/logout'" id="exit-btn">Sair</button><br>
				{% else %}
				<button onclick="window.location.href='/login'" id="lgn-btn">Login</button><br>
				<button onclick="window.location.href='/cadastro'" id="cdst-btn">Cadastro</button>
				{% endif %}
			</div>
			
			{% if dados[2] %}
			<!-- ADICIONAR NOVA MONITORIA -->
			<button onclick="window.location.href='/novaMonitoria'"><i class="fas fa-plus"></i></button>	
			{% endif %}

			<!-- MONITORIAS SALVAS -->
			<button onclick="abrirNav()" id="bars-btn"><i class="fas fa-bars"></i></button>
		</div>

		<div class="logo">Minha Monitoria</div>

		<!-- PESQUISAR -->
		<div class="pesquisa">
			<form method="post" class="form">
				<input type="text" placeholder="Buscar" name="busca" class="inputPesquisa">

				<!-- FILTROS -->
				<select name="campus">
					<option value="todos" selected>Todos</option>
					<option value="Darcy">Darcy Ribeiro</option>
					<option value="FGA">FGA</option>
					<option value="FCE">FCE</option>
					<option value="FUP">FUP</option>
				</select>

				<input type="submit" name="Entrar" class="submit"><br>
			</form>
		</div>

		<div class="monitorias">
			{% if dados[1] != None %}
			{% for monitoria in dados[1] %}
			<div class="containerCartao">
				<p>
					Professor: {{ dados[1][monitoria]['nome'] }}
					Campus: {{ dados[1][monitoria]['campus'] }}
					Codigo: {{ dados[1][monitoria]['codigo'] }}
					Disciplina: {{ dados[1][monitoria]['disciplina'] }}
				</p>

				<!-- VISUALIZAR -->
				<button onclick="window.location.href='/monitoria?chave={{monitoria}}'" class="button-ver">Ver</button>

				<br>

				<div class="extra-options">
					<!-- COMPARTILHAR -->
					<div class="dropdown">
						<button class="botaoCompartilhar icon-button" onclick="compartilhar()"><i
								class="fas fa-share-alt"></i></button>
						<div id="containerDropdown" class="containerDropdown">
							<a href="https://www.facebook.com/sharer/sharer.php?u=https://minha-monitoria.herokuapp.com/monitoria?chave={{monitoria}}"
								target="_blank">Facebook</a>
							<a href="https://api.whatsapp.com/send?text=https://minha-monitoria.herokuapp.com/monitoria?chave={{monitoria}}"
								target="_blank">WhatsApp</a>
						</div>
					</div>

					<!-- SALVAR -->
					<button id="save" class="icon-button" onclick="salvar({{dados[1][monitoria]}})">
						<i class="fas fa-plus-square"></i>
					</button>

					<!-- ENVIAR DADOS -->
					<button class="icon-button" onclick="window.location.href='/mensagem?codigo={{dados[1][monitoria]['codigo']}}&disciplina={{dados[1][monitoria]['disciplina']}}&turma={{dados[1][monitoria]['turma']}}&vagas={{dados[1][monitoria]['vagas']}}&email={{dados[1][monitoria]['email']}}/mensagem?codigo={{dados[1][monitoria]['codigo']}}&disciplina={{dados[1][monitoria]['disciplina']}}&turma={{dados[1][monitoria]['turma']}}&vagas={{dados[1][monitoria]['vagas']}}&email={{dados[1][monitoria]['email']}}'">
						<i class="fas fa-paper-plane"></i>
					</button>

					<!-- EXCLUIR -->
					{% if dados[0] == dados[1][monitoria]['email'] %}
					<button onclick="window.location.href='/excluir?chave={{monitoria}}'" class="icon-button"><i class="far fa-trash-alt"></i></button></a>
					{% endif %}
				</div>


			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>

</html>