<html>
	<head>
		<title>Minha Monitoria</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</head>

	<body>
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="fecharNav()">&times;</a>
				{% if dados[1] != None %}
					{% for monitoria in dados[1] %}
						{% for monitoriaSalva in dados[4] %}
							{% if monitoria == monitoriaSalva %}
								<div class="containerCartao">
									Professor: {{ dados[1][monitoria]['nome'] }}
									Campus: {{ dados[1][monitoria]['campus'] }}
									Codigo: {{ dados[1][monitoria]['codigo'] }}
									Disciplina: {{ dados[1][monitoria]['disciplina'] }}

									<!-- VISUALIZAR -->
									<a href="/monitoria?chave={{monitoria}}"><button>VER</button></a>
									
									<!-- COMPARTILHAR -->
										<!-- Facebook -->
									<a href="https://www.facebook.com/sharer/sharer.php?u=https://minha-monitoria.herokuapp.com/monitoria?chave={{monitoria}}" target="_blank"><button><i class="fab fa-facebook"></i></button></a>
										<!-- WhatsApp -->
									<a href="https://api.whatsapp.com/send?text=https://minha-monitoria.herokuapp.com/monitoria?chave={{monitoria}}" target="_blank"><button><i class="fab fa-whatsapp"></i></button></a>

									<!-- REMOVER DA LISTA DE MONITORIAS SALVAS -->
									<a id="test" onclick="remover('{{monitoria}}', {{dados[4]}})"><button><i class="fas fa-minus-circle"></i></button></a>

									<!-- EXCLUIR -->
									{% if dados[0] == dados[1][monitoria]['email'] %}
										<a href="/excluir?chave={{monitoria}}"><button><i class="far fa-trash-alt"></i></button></a>
									{% endif %}

								</div>
							{% endif %}							
						{% endfor %}	
					{% endfor %}
				{% endif %}
		</div>

		<div id="main">
			<div class="cabecalho">
				{% if dados[3] != None %}
					{{dados[3]}}
					{% if dados[2] %}
						<!-- ADICIONAR NOVA MONITORIA -->
						<a href="/novaMonitoria"><button><i class="fas fa-plus"></i></button></a>
					{% else %}
						<button id="botaoRecuperacao">Confirmar e-mail</button>
					{% endif %}
		      		<a href="/logout"><button>Sair</button></a><br>
				{% else %}
					<a href="/login"><button>Login/Cadastro</button></a>
				{% endif %}

				<!-- MONITORIAS SALVAS -->
				<button onclick="abrirNav()"><i class="fas fa-bars"></i></button>
			</div>

			<div class="logo">Minha Monitoria</div>

			<!-- PESQUISAR -->
			<div class="pesquisa">
				<form method="post" class="form">
					<input type="text" placeholder="Buscar" name="busca" class="inputPesquisa">

					<!-- FILTROS -->
					<select name="campus">
						<option value="todos" selected>Todos</option>
						<option value="Darcy">Darcy Ribeiro</option>
						<option value="FGA">FGA</option>
						<option value="FCE">FCE</option>
						<option value="FUP">FUP</option>
					</select>

					<input type="submit" name="Entrar" class="submit"><br>
				</form>
			</div>
			
			<div class="monitorias">
				{% if dados[1] != None %}
					{% for monitoria in dados[1] %}
						<div class="containerCartao">
							Professor: {{ dados[1][monitoria]['nome'] }}
							Campus: {{ dados[1][monitoria]['campus'] }}
							Codigo: {{ dados[1][monitoria]['codigo'] }}
							Disciplina: {{ dados[1][monitoria]['disciplina'] }}

							<!-- VISUALIZAR -->
							<a href="/monitoria?chave={{monitoria}}"><button>VER</button></a>
							
							<!-- COMPARTILHAR -->
								<!-- Facebook -->
							<a href="https://www.facebook.com/sharer/sharer.php?u=https://minha-monitoria.herokuapp.com/monitoria?chave={{monitoria}}" target="_blank"><button><i class="fab fa-facebook"></i></button></a>
								<!-- WhatsApp -->
							<a href="https://api.whatsapp.com/send?text=https://minha-monitoria.herokuapp.com/monitoria?chave={{monitoria}}" target="_blank"><button><i class="fab fa-whatsapp"></i></button></a>

							<!-- SALVAR -->
							<a onclick="salvar('{{monitoria}}', {{dados[4]}})"><button><i class="fas fa-plus-circle"></i></button></a>

							<!-- EXCLUIR -->
							{% if dados[0] == dados[1][monitoria]['email'] %}
								<a href="/excluir?chave={{monitoria}}"><button><i class="far fa-trash-alt"></i></button></a>
							{% endif %}

						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
    </body>
</html>